<html>
  <head>
    <title>Uploader</title>
  </head>
  <body>
    <form method="POST" action="/folders/new">
      <h3>New Folder Form</h3>
      <label>Folder Name: <input type="text" name="folder" /></label>
      <button type="submit">Create</button>
    </form>
  </body>
</html>
